* {
   padding:0;
   margin: 0;
   box-sizing: border-box; 
   font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.contenitor {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
}



.logo {
    height: 50px;
    vertical-align: middle;
}

.scritta-logo {
    height: 100px;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
}

.sfondo-main {
    background-color: lightgrey;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 10px;
}

.toboo {
    margin: 0 auto;
    width: 80%;
}

.sfondo-button {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 20px;
}

.button1 {
    background-color: lightseagreen;
    border-radius: 5px;
    padding: 5px 8px;
}

.button2 {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 5px 8px;
}

.sfondo-lista {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 10px;
    padding: 20px;
    
}

.selezione::before {
    content: '\23F7';
}

.circle-text {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding:5px 8px;
    margin-left: 5px ;
}

.blue {
    background-color: blue;
}

.violet {
    background-color: magenta;
}

.green {
    background-color: rgb(0, 255, 136);
}

.pink {
    background-color: hotpink;
}

.lime {
    background-color: lawngreen;
}

.orange {
    background-color: orange;
}

.no::before {
    content:'x';
    color:red;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
    padding:5px 8px;
    background-color: rgb(255, 255, 255);
    border:1px solid red;

}

.yes::before {
    content:'\1F5F8';
    color:  rgb(0, 122, 131);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding:5px 8px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border:1px solid rgb(0, 122, 131)
}

ul {
    list-style-type: none;

}

ul li {
    margin-top: 10px;
    margin-bottom: 10px;
}
