* {
   padding:0;
   margin: 0;
   box-sizing: border-box; 
}

.contenitor {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: auto;
}



.logo {
    height: 50px;
    vertical-align: middle;
}

.scritta-logo {
    height: 100px;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bold;
}

.sfondo-main {
    background-color: lightgrey;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 10px;
}

.toboo {
    margin: 0 auto;
    width: 80%;
}

.sfondo-button {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.button1 {
    background-color: lightseagreen;
    border-radius: 2px;
}

.sfondo-lista {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 5px;
    
}

.selezione::before {
    content: '\23F7';
}

.circle {
    display: inline-block;
    width: 80px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50px;
    color: rgb(255, 255, 255)
}

.circle-blue {
    background-color: blue;
}

.circle-violet {
    background-color: magenta;
}

.circle-green {
    background-color: greenyellow;
}